html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.cont {
    width: 100vw !important;
    height: 100vh !important;

    display: flex;
    background-color: #296ca8;

    justify-content: center;
}
.edit {
    min-height: 60vh;
}

.container {
    position: absolute;
    top: 50%;
    right: 50%;
    display: flex;
    justify-content: center;
    transform: translate(50%, -50%);
}
.tweet {
    text-align: left;
    overflow: auto;
}
.tweets {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 40px;
}
.btnblue {
    background-color: #0b5088;
}

.switch #tweetsingle:hover {
    background-color: #3f4144;
}

#tweetsingle:hover {
    background-color: rgb(228, 229, 230);
}
#allusr {
    width: 50vw;
    left: 25%;
}

.navitem {
    display: flex;
    gap: 10px;
    align-items: center;
    color: "white";
}
.txtbody {
    color: white;
}

.txt {
    vertical-align: middle;
}

.main {
    height: 100vh;
    width: 600px;
    text-align: center;
    background-color: #5c84a8;

    overflow: auto;
}
#title {
    color: white;
    text-align: center;
    font-size: 40px;
}
.post {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.form {
    width: 50vw;
    padding-top: 10px;
    text-align: left;
}
.tweet {
    width: 600px;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    gap: 10px;
    padding: 5px;
}

.img_place > img {
    height: 90px;
    border-radius: 80px;
    width: 90px;
}
.body {
    font-size: 26px;
    line-height: 100%;
    width: 100%;
}

.switch {
    background-color: #4a4e52 !important;
    color: white;
    overflow: auto;
}

.footer {
    font-size: 0.8rem;
}

.home {
    background-color: white;
    color: "black";
}

.likecount:hover {
    text-decoration: underline;
}
#mediachoose {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.profile {
    display: flex;
    align-content: center;
    width: 50vw;
    overflow-x: hidden;
    overflow: visible;
    height: 100vh;
}

#txt {
    font-size: 40px;
}

.middle {
    width: 600px;
    padding: 10px;
    background-color: #5c84a8;
    flex-shrink: 0;
    display: flex;
    gap: 20px;
    color: white;
}
.red {
    height: "10px";
    width: "10px";
    background-color: red;
    border-radius: 50%;
}
#msgform > div > input {
    background: #5e6061;
}

.green {
    border-radius: 50%;

    background-color: green;
}
.green::before {
    content: "\200B";
}
.inbox_user:hover {
    background-color: #5e6061;
}
.addmobile {
    display: none;
}
#navcontainer {
    position: absolute;
    left: 100px;
    margin-top: 50px;
}

#test {
    /* margin-right: 20px; */
    top: 20%;
    left: 15%;
    position: sticky;
    display: flex;
    flex-direction: column;
}
.backbtn {
    margin-left: 40px;
}
.mess {
    height: 100vh;
    background-color: #4a4e52;
    position: fixed;
    overflow: auto;
}
.arrowback {
    display: none;
}

@media screen and (max-width: 1200px) {
    .middle,
    .post-cont,
    .log,
    .profile {
        width: 100vw !important;
        /* padding: 10px; */
        overflow-x: hidden;
    }
    .post-cont > div > div {
        position: relative;
        width: 600px;
        margin: 10px;
    }
    .backbtnnav {
        display: none;
    }
    .arrowback {
        display: unset;
    }
    .txt,
    .inbox {
        display: none;
    }
    #allusr {
        width: 90vw;
        left: 5%;
        right: 5%;
    }
    .backbtn {
        margin-left: 10;
    }

    .addmobile {
        display: initial;
        background-color: #1175b8;
        border-radius: 50%;
        border: none;
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 10;
        right: 20px;
        bottom: 70px;
    }
    #navcontainer {
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 5;
    }

    #test {
        position: fixed;
        display: flex;
        position: sticky;
        bottom: 0;
        /* top: 90%; */
        justify-content: space-around;
        width: 100%;

        height: 60px;
        flex-direction: row;
        z-index: 2;
        margin-bottom: 0;
        left: 0;
        background-color: rgba(74, 78, 82, 0.7);
        padding: 20px;
    }
    #hidebtn,
    .hidebtn {
        display: none;
    }

    .content {
        width: 100%;
    }
}
.content {
    margin-left: 60px;
    margin-bottom: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20;
}
.content > img {
    width: 400px;
    border-radius: 10px;
}

.postimg {
    width: 100%;
    height: fit-content;
    border-radius: "10px";
}
.alert {
    width: 600px;
}
.profileimg {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.inbox_user {
    height: 120px;
    display: flex;
    gap: 5px;
    border: 1px groove #dee2e6;
    border-radius: 10px;
}
.chatmsg {
    width: fit-content;
    right: 0;
}

.mess_container {
    height: 100vh;
    position: absolute;
    left: 10%;
    color: white;
    display: flex;
}
.choose_user {
    right: 20%;
}
#selectuser {
    display: none;
}

@media screen and (max-width: 500px) {
    .choose_user {
        right: 10%;
    }
    #selectuser {
        display: flex;
    }
    .backbtn {
        margin: 0;
    }

    .mess {
        position: fixed;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
    }
    /* #send {
        position: fixed;
        bottom: 0;
    } */
    #msgform > div {
        position: relative;
        width: 145%;
    }

    .chatmsg {
        width: 140%;
        position: absolute;
        right: 50%;
        margin-left: 50%;
        margin-bottom: 20%;
    }
    .mess_container {
        margin-top: 10px;
        left: 0;
    }

    .profile {
        position: absolute;
        left: 0 !important;
        overflow: auto;
    }
    .profileimg {
        margin-left: 10px;
        width: 100px;
        height: 100px;
    }
    .content {
        margin-left: 0;
        margin-top: 30px;
        word-break: break-all;
    }
    .content > img {
        width: 100%;
    }
    .post-cont > div > div > div {
        position: relative;
        right: 110px;
        width: 70%;
    }

    .tweetcont {
        position: relative;
        left: 110px;
        width: 400px;
    }
    .tweetcont > div > div {
        width: 90%;
    }
    .tweetcont > div > div > div {
        font-size: 20px;
        word-break: break-all;
    }
    .text > div > img {
        width: 100%;
    }

    #postinfo > div {
        font-size: 15px;
    }
    .img_place > img {
        height: 50px;
        width: 50px;
    }
    .img_place > div {
        font-size: 12px;
    }
    .alert {
        left: 100px;
        width: 80vw;
    }
    #hidebtn,
    .hidebtn {
        display: none;
    }
    #test {
        position: fixed;

        justify-content: space-between;
        width: 100%;
        height: 60px;
        flex-direction: row;
        z-index: 2;
        bottom: 0;
        left: 0;
        margin-bottom: 0;
        background-color: rgba(74, 78, 82, 0.9);
        padding: 0;
    }
    #test > li {
        font-size: 20px;
        padding: 10px;
    }
    .txt {
        display: none;
    }
    .addmobile {
        display: initial;
        background-color: #1175b8;
        border-radius: 50%;
        border: none;
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 10;
        right: 10px;
        bottom: 70px;
    }
}

.wrap {
    flex-direction: column;
}
.publish_container {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.post-cont {
    display: flex;
}

.form-group.focused .control-label {
    opacity: 1;
    transform: translate3d(-100px, 10px, 0) scale(0.75);
}
