html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.cont {
    width: 100vw !important;
    height: 100vh !important;
    display: flex;
    background-color: #296ca8;
    justify-content: center;
}
.edit {
    min-height: 60vh;
}

.container {
    position: absolute;
    top: 50%;
    right: 50%;
    display: flex;
    justify-content: center;
    transform: translate(50%, -50%);
}
.tweet {
    text-align: left;
    overflow: auto;
}
.tweets {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 40px;
}
.btnblue {
    background-color: #0b5088;
}

.main {
    height: 100vh;
    width: 800px;
    text-align: center;
    background-color: #5c84a8;
    overflow: auto;
}
#title {
    color: white;
    text-align: center;
    font-size: 40px;
}
.post {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.form {
    width: 50vw;
    padding-top: 50px;
    text-align: left;
}
.tweet {
    border: 1px solid black;
    width: 600px;
    height: 140px;
    display: flex;
    gap: 10px;
}

.tweetswitch {
    background-color: #296ca8;
}

.img_place > img {
    height: 90px;
    /* display: flex; */
    border-radius: 80px;
    width: 90px;
}
.body {
    font-size: 26px;
    line-height: 100%;
    width: 100%;
}

.switch {
    background-color: #4a4e52 !important;
    color: white;
    overflow: auto;
}

.footer {
    font-size: 0.8rem;
}

.home {
    background-color: white;
    margin-top: 40px;
    color: "black";
}

.profile {
    display: flex;
    align-content: center;
    color: white;
    height: 100vh;
    /* background-color: rgb(96, 199, 165); */
}
.profile {
    background-color: #0b5088;
    overflow: auto;
}

#txt {
    font-size: 40px;
}

.middle {
    width: 60vw;
    background-color: #5c84a8;
    flex-shrink: 0;
    display: flex;
    gap: 20px;
}
#left {
    width: 25vw;
    /* background-color: red; */
}
#right {
    /* background-color: green; */
    width: 25vw;
}
@media screen and (max-width: 920px) {
    #left,
    #right {
        display: none;
    }
    .middle,
    .post-cont,
    .log {
        width: 100vw !important;
    }
}
.wrap {
    flex-direction: column;
}
.publish_container {
    display: flex;
    width: 600px;
    /* border: 1px solid red; */
    justify-content: space-between;
}

.post-cont {
    display: flex;
}

.form-group.focused .control-label {
    opacity: 1;
    transform: translate3d(-100px, 10px, 0) scale(0.75);
}
