html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.cont {
    width: 100vw !important;
    height: 100vh !important;

    display: flex;
    background-color: #296ca8;

    justify-content: center;
}
.edit {
    min-height: 60vh;
}

.container {
    position: absolute;
    top: 50%;
    right: 50%;
    display: flex;
    justify-content: center;
    transform: translate(50%, -50%);
}
.tweet {
    text-align: left;
    overflow: auto;
}
.tweets {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 40px;
}
.btnblue {
    background-color: #0b5088;
}

.switch #tweetsingle:hover {
    background-color: #3f4144;
}

#tweetsingle:hover {
    background-color: rgb(228, 229, 230);
}

.navitem {
    display: flex;
    gap: 10px;
    align-items: center;
}
.txt {
    vertical-align: middle;
}

.main {
    height: 100vh;
    width: 600px;
    text-align: center;
    background-color: #5c84a8;

    overflow: auto;
}
#title {
    color: white;
    text-align: center;
    font-size: 40px;
}
.post {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.form {
    width: 50vw;
    padding-top: 10px;
    text-align: left;
}
.tweet {
    /* border: 1px solid #dee2e6; */
    width: 600px;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    gap: 10px;
    padding: 5px;
}

.img_place > img {
    height: 90px;
    /* display: flex; */
    border-radius: 80px;
    width: 90px;
}
.body {
    font-size: 26px;
    line-height: 100%;
    width: 100%;
}

.switch {
    background-color: #4a4e52 !important;
    color: white;
    overflow: auto;
}

.footer {
    font-size: 0.8rem;
}

.home {
    background-color: white;
    /* margin-top: 40px; */
    color: "black";
}

.likecount:hover {
    text-decoration: underline;
}

.profile {
    display: flex;
    align-content: center;

    /* color: white; */
    overflow-x: hidden;
    overflow: visible;
    height: 100vh;
    /* background-color: rgb(96, 199, 165); */
}

#txt {
    font-size: 40px;
}

.middle {
    width: 600px;
    padding: 10px;
    background-color: #5c84a8;
    flex-shrink: 0;
    display: flex;
    gap: 20px;
}
.red {
    height: "10px";
    width: "10px";
    background-color: red;
    border-radius: 50%;
}
#msgform > div > input {
    background: #5e6061;
}

.green {
    border-radius: 50%;

    background-color: green;
}
.green::before {
    content: "\200B";
}
.inbox_user:hover {
    background-color: #5e6061;
}

@media screen and (max-width: 920px) {
    .middle,
    .post-cont,
    .log {
        width: 100vw !important;
    }
    #test,
    .inbox {
        display: none;
    }
    .content {
        width: 100%;
    }
}
.wrap {
    flex-direction: column;
}
.publish_container {
    display: flex;
    width: 600px;
    /* border: 1px solid red; */
    justify-content: space-between;
}

.post-cont {
    display: flex;
}

.form-group.focused .control-label {
    opacity: 1;
    transform: translate3d(-100px, 10px, 0) scale(0.75);
}
