.cont {
    width: 100vw !important;
    height: 100vh !important;
    display: flex;
    background-color: #296ca8;
    justify-content: center;
}
.container {
    position: absolute;
    top: 50%;
    right: 50%;
    display: flex;
    justify-content: center;
    transform: translate(50%, -50%);
}
.tweet {
    text-align: left;
}
.tweets {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main {
    height: 100vh;
    width: 800px;
    text-align: center;
    background-color: #5c84a8;
}
#title {
    color: white;
    text-align: center;
    font-size: 40px;
}
.form {
    width: 50vw;
    padding-top: 50px;
    text-align: left;
}
.tweet {
    border: 1px solid black;
    width: 500px;
    height: 120px;
    display: flex;
    gap: 10px;
}
.img_place > img {
    height: 90px;
    display: flex;
    border-radius: 80px;
    width: 80px;
}
.body {
    font-size: 26px;
}
.footer {
    font-size: 0.8rem;
}

.home {
    background-color: white;
    margin-top: 40px;
}

.profile {
    display: flex;
    align-content: center;
}
#txt {
    font-size: 40px;
}

#middle {
    width: 60vw;
    background-color: #5c84a8;
    flex-shrink: 0;
    display: flex;
    gap: 20px;
}
#left {
    width: 25vw;
    /* background-color: red; */
}
#right {
    /* background-color: green; */
    width: 25vw;
}
@media screen and (max-width: 824px) {
    #left,
    #right {
        display: none;
    }
    #middle {
        width: 100vw;
    }
}
.wrap {
    flex-direction: column;
}
