html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.cont {
    width: 100vw !important;
    height: 100vh !important;
    display: flex;
    background-color: #296ca8;
    justify-content: center;
}
.edit {
    height: 40vh;
}

.container {
    position: absolute;
    top: 50%;
    right: 50%;
    display: flex;
    justify-content: center;
    transform: translate(50%, -50%);
}
.tweet {
    text-align: left;
}
.tweets {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main {
    height: 100vh;
    width: 800px;
    text-align: center;
    background-color: #5c84a8;
}
#title {
    color: white;
    text-align: center;
    font-size: 40px;
}
.form {
    width: 50vw;
    padding-top: 50px;
    text-align: left;
}
.tweet {
    border: 1px solid black;
    width: 600px;
    height: 140px;
    display: flex;
    gap: 10px;
}
.tweetswitch {
    background-color: #296ca8;
}

.img_place > img {
    height: 90px;
    /* display: flex; */
    border-radius: 80px;
    width: 90px;
}
.body {
    font-size: 26px;
    line-height: 100%;
}
.switch {
    background-color: #4a4e52 !important;
    color: white;
}

.footer {
    font-size: 0.8rem;
}

.home {
    background-color: white;
    margin-top: 40px;
}

.profile {
    display: flex;
    align-content: center;
    color: white;
    height: 100vh;
}
.profile {
    background-color: #0b5088;
}

#txt {
    font-size: 40px;
}

.middle {
    width: 60vw;
    background-color: #5c84a8;
    flex-shrink: 0;
    display: flex;
    gap: 20px;
}
#left {
    width: 25vw;
    /* background-color: red; */
}
#right {
    /* background-color: green; */
    width: 25vw;
}
@media screen and (max-width: 824px) {
    #left,
    #right {
        display: none;
    }
    .middle {
        width: 100vw;
    }
}
.wrap {
    flex-direction: column;
}
.publish_container {
    display: flex;
    width: 600px;
    /* border: 1px solid red; */
    justify-content: space-between;
}

.post-cont {
    display: flex;
}
